ul.custom-nav 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.custom-nav li 
{
  display: inline;
  float: left;
}

.custom-nav li a 
{
  text-decoration: none;
  display: block;
  color: #666;
  padding: 20px 25px;
}

.custom-nav li a:hover:not(.active) 
{
  background-color: #ddd;
}

.custom-nav li a.active 
{
  color: white;
  background-color: #04AA6D;
}